<!DOCTYPE html>
<html>

<head>
  <title>Admin - UWCS Challenge</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

  <!-- Cookies -->
  <script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js "></script>

  <!-- Local Assets -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='challenge_icon.svg') }}" type="image/x-icon">
  <script src="{{ url_for('static', filename='countdown.js') }}"></script>
  <script src="{{ url_for('static', filename='darkmode.js') }}"></script>

</head>

<body>
  <div class="container min-vh-100 d-flex flex-column align-items-center">
    <nav class="w-100 navbar navbar-expand-lg rounded-bottom bg-primary-subtle" style="min-width: fit-content">
      <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="/">
          {% include "chall_logo.html" %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
          aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav d-flex w-100 align-contents-center">
            {% if authenticated %}
            <li class="nav-item ms-lg-2">
              <a class="nav-link ml-1" href="{{ url_for('progcomp.logout') }}">
                <button class="btn btn-danger btn-lg">Logout</button>
              </a>
            </li>
            {% endif %}
            <div class="vr ms-md-auto d-none d-lg-block "></div>
            <li class="nav-item ms-lg-2">
              <a id="dark-mode" class="nav-link ml-1" href="#">
                <i class="bi-moon-fill" id="dark-mode-icon"></i>
                <span class="d-lg-none ms-2 ms-lg-0">Toggle Dark Mode</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <article id="content" class="w-100">

      {% if not authenticated %}

      <div class="d-flex flex-column align-items-center gap-3 my-5">
        <img class="mw-100 p-2" style="width: 500px" src="static/challenge_logo.svg" alt="Logo"></img>
        <h1>Admin Panel</h1>
        <form class="mw-100" style="width: 300px" action="{{ url_for('progcomp.admin') }}" method="POST">

          <div class="form-group my-3">
            <label for="key">Admin Passkey</label>
            <input type="password" class="form-control" id="password" name="key" placeholder="Enter Secret Key">
            <small id="username-help" class="form-text text-muted">Can be found on VaultWarden.</small>
          </div>
          <div class="form-group text-center my-3">
            <button type="submit" class="btn btn-success btn-lg">Enter</button>
          </div>
        </form>
      </div>

      {% else %}

      <!-- Authenticated View -->

      <!-- Create New ProgComp -->
      <div class="container my-4">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#pcModal">
          <i class="bi bi-plus"></i>
          New ProgComp
        </button>
      </div>

      <!-- New ProgComp Modal -->
      <div class="modal fade" id="pcModal" tabindex="-1" aria-labelledby="pcLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pcLabel">New ProgComp</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="text" id="new-pc-name" class="form-control" placeholder="Enter ProgComp Name">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="CreateNewPC()">Create</button>
            </div>
          </div>
        </div>
      </div>

      <!-- New ProgComp Modal -->
      <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="alertLabel">New Alert</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <form action="{{ url_for('progcomp.admin_add_alert') }}" method="post" class="form-group">
                
                <label for="alert-name-input" class="form-label">Enter Alert Name</label>
                <input type="text" placeholder="Alert Name" name="name" class="form-control mb-4" id="alert-name-input" required>
                
                <label for="alert-title-input" class="form-label">Enter Title</label>
                <input type="text" placeholder="Title" name="title" class="form-control mb-4" id="alert-title-input" required>
                
                <label for="alert-body-input" class="form-label">Enter Alert Body</label>
                <textarea name="text" placeholder="Enter Body..." class="form-control mb-4" id="alert-body-input" required></textarea>
                
                <label for="alert-start-input" class="form-label">Start Time:</label>
                <input type="datetime-local" id="alert-start-input" name="start-time" class="form-control mb-4" required>
                
                <label for="alert-end-input" class="form-label">End Time:</label>
                <input type="datetime-local" id="alert-end-input" name="end-time" class="form-control mb-4" required>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete ProgComp Modal -->
      <div class="modal fade" id="pcDeleteModal" tabindex="-1" aria-labelledby="pcDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pcDeleteLabel">Delete ProgComp</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete <span id="pc-delete"></span>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" onclick="DeletePC()">Delete</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card my-4 shadow rounded accordion accordion-flush" id="accordion">

        {% for progcomp in progcomps %}

        <div class="accordion-item">

          <h1 class="accordion-header">
            <button id="{{progcomp.name}}-acc-btn" class="accordion-button collapsed fs-2" data-bs-toggle="collapse"
              data-bs-target="#{{progcomp.name}}-content" role="button" aria-expanded="false"
              aria-controls="{{progcomp.name}}-content" onclick="open_comp = '{{progcomp.name}}'">
              {{ progcomp.name }}
            </button>
          </h1>

          <div class="container-fluid accordion-collapse collapse mt-4" id="{{progcomp.name}}-content" data-bs-parent="#accordion">

            <div class="btn-group col-12 mb-4" role="group">
              <button class="col-3 btn btn-primary" onclick="UpdatePC('{{ progcomp.name }}')">
                <i class="bi bi-arrow-clockwise"></i>
                Update Problems
              </button>
              <button class="col-3 btn btn-secondary" onclick="ReloadPC( '{{ progcomp.name }}' )">
                <i class="bi bi-file-arrow-down-fill"></i>
                Reload Problems
              </button>
              <button class="col-3 btn btn-success" onclick="ApplyPCSettings('{{ progcomp.name }}')">
                <i class="bi bi-floppy"></i>
                Save Changes
              </button>
              <button class="col-3 btn btn-warning" onclick="ConfirmDelete( '{{ progcomp.name }}' )" data-bs-toggle="modal" data-bs-target="#pcDeleteModal">
                <i class="bi bi-trash3"></i>
                Delete
              </button>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="start-time-label">Start Time</span>
              <input id="{{ progcomp.name }}-start-time" type="datetime-local"
                value="{{ progcomp.start_time.strftime('%Y-%m-%d %H:%M:%S') if progcomp.start_time }}"
                class="form-control" aria-label="start-time" aria-describedby="start-time-label">

              <span class="input-group-text" id="end-time-label">End Time</span>
              <input id="{{ progcomp.name }}-end-time" type="datetime-local"
                value="{{ progcomp.end_time.strftime('%Y-%m-%d %H:%M:%S') if progcomp.end_time}}" class="form-control"
                aria-label="end-time" aria-describedby="end-time-label">

              <span class="input-group-text" id="visibility-label">Visibility</span>
              <button id="{{ progcomp.name }}-visibility" class="btn btn-outline-secondary dropdown-toggle"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ progcomp.visibility }}</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" onclick="SetPCVisibilityField('{{ progcomp.name }}', 'Open')">Open</a></li>
                <li><a class="dropdown-item" onclick="SetPCVisibilityField('{{ progcomp.name }}', 'Closed')">Closed</a></li>
                <li><a class="dropdown-item" onclick="SetPCVisibilityField('{{ progcomp.name }}', 'Hidden')">Hidden</a></li>
              </ul>

              <span class="input-group-text" id="leaderboard-label">Show Leaderboard</span>
              <span class="input-group-text justify-content-center"
                style="background-color: var(--bs-form-control-bg);">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch"
                    id="{{ progcomp.name }}-leaderboard-toggle">
                  <script>
                    window.addEventListener("load", () => {
                      document.getElementById("{{ progcomp.name }}-leaderboard-toggle").checked = "{{ progcomp.show_leaderboard }}" == "True"
                    })
                  </script>
                </div>
              </span>
            </div>

            <hr/>
            <h2>Problems</h2>
            <div id="{{progcomp.name}}-problems card">
              {% for problem in progcomp.all_problems %}
              <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">Problem {{ problem.name }}</h5>
                  <div class="input-group" style="width: auto;">
                    <span class="input-group-text" id="visibility-label">Visibility</span>
                    <button id="{{progcomp.name}}-{{problem.name}}-visibility" class="btn btn-outline-secondary dropdown-toggle"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ problem.visibility }}</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" onclick="SetProblemVisibilityField('{{ progcomp.name }}', '{{ problem.name }}', 'Open')">Open</a></li>
                      <li><a class="dropdown-item" onclick="SetProblemVisibilityField('{{ progcomp.name }}', '{{ problem.name }}', 'Closed')">Closed</a></li>
                      <li><a class="dropdown-item" onclick="SetProblemVisibilityField('{{ progcomp.name }}', '{{ problem.name }}', 'Hidden')">Hidden</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            
            <hr/>
            <h2>Teams</h2>
            <div id="{{progcomp.name}}-teams card">
              {% for team in progcomp.all_teams %}
              <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">Team: {{ team.name }}</h5>

                  <div class="input-group" style="width: auto;">
                    <span class="input-group-text" id="blacklist-label">Blacklist</span>
                    <span class="input-group-text justify-content-center"
                    style="background-color: var(--bs-form-control-bg);">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                          id="{{ progcomp.name }}-{{ team.name }}-blacklist" onclick="RecordBlacklistChange('{{ progcomp.name }}', '{{ team.name }}')">
                        <script>
                          window.addEventListener("load", () => {
                            document.getElementById("{{ progcomp.name }}-{{ team.name }}-blacklist").checked = "{{ team.blacklist }}" == "True"
                          })
                        </script>
                      </div>
                    </span>
                  </div>

                </div>
              </div>
              {% endfor %}
            </div>
            <hr/>
            <h2>Alerts</h2>

            <!-- Create New Alert -->
            <div class="container my-4">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#alertModal">
                <i class="bi bi-plus"></i>
                New Alert
              </button>
            </div>

            <div id="{{progcomp.name}}-teams card">
              {% for alert in progcomp.all_alerts %}
              <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">Name: {{ alert.name }}</h5>
                  <div class="card-body">
                    <h6>Title: {{ alert.title }}</h6>
                    <p>{{ alert.text }}</p>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="start-time-label">Start Time</span>
                    <input id="{{ progcomp.name }}-{{ alert.name }}-start-time" type="datetime-local"
                      value="{{ alert.start_time.strftime('%Y-%m-%d %H:%M:%S') if alert.start_time }}" disabled
                      class="form-control" aria-label="start-time" aria-describedby="start-time-label">
      
                    <span class="input-group-text" id="end-time-label">End Time</span>
                    <input id="{{ progcomp.name }}-{{ alert.name }}-end-time" type="datetime-local"
                      value="{{ alert.end_time.strftime('%Y-%m-%d %H:%M:%S') if alert.end_time}}" disabled
                      class="form-control" aria-label="end-time" aria-describedby="end-time-label">
                    </div>
                  </div>

                </div>
              </div>
              {% endfor %}
            </div>


            <hr/>
            <h2>Leaderboard</h2>
            <!-- <table class="table table-hover table-sm">
              <thead>
                  <tr>
                      <th scope="col" class="text-center">Position</th>
                      <th scope="col" class="text-center">Team</th>
                      <th scope="col" class="text-center">Total</th>
                      {% for prob in problems %}
                      <th scope="col" class="text-center">{{ prob.name }}</th>
                      {% endfor %}
                      <th scope="col" class="text-center">Submission Time</th>
                  </tr>
              </thead>
              <tbody>
                  {% for score in scores %}
                  <tr>
                      <td class="text-center">{{ loop.index }}</td>
                      <td class="text-center">{{ score.team.name }}</td>
                      <th class="text-center">{{ score.total }}</td>
            {% for prob in problems %}
                      <td class="text-center">{{ score.per_round[loop.index - 1] }}</td>
                      {% endfor %}
                      <td class="text-center">{{ score.time_str }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table> -->

          </div>
        </div>

        {% endfor %}
      </div>
      {% endif %}

    </article>

    <footer class="w-100 mt-auto d-flex flex-wrap justify-content-between gap-2 py-3 mt-4 border-top">
      <div class="flex-grow-1 flex-md-grow-0 mb-0 text-muted">
        {% if progcomp %}
        {% set visibility = progcomp.visible|string() %}
        {% if visibility == "Open" %}
        {% set row_color = 'text-bg-success' %}
        {% elif visibility == "Closed" %}
        {% set row_color = 'text-bg-danger' %}
        {% else %}
        {% set row_color = "text-bg-warning" %}
        {% endif %}
        {{ progcomp.name }}
        <small class="badge {{ row_color }}" style="height: fit-content">{{ progcomp.visible }}</small> |
        {% if username %}
        Team: {{ username }} |
        {% endif %}
        <span id="countdown">Countdown soonTM</span>
        {% endif %}
      </div>
      <div class="d-md-none" style="flex-basis: 100%; height: 0"></div>
      <a class="d-flex text-decoration-none" href="https://uwcs.co.uk">
        {% include "uwcs_logo.html" %}
      </a>

      <ul class="nav justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-muted" href="https://github.com/UWCS/progcomp-web"><i class="bi-github"
              aria-hidden="true"></i></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://discord.uwcs.co.uk"><i class="bi-discord" aria-hidden="true"></i></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://uwcs.co.uk"><i class="bi-globe" aria-hidden="true"></i></a>
        </li>
      </ul>
    </footer>
  </div>
</body>

{% if open %}
<script>
  window.addEventListener('load', () => {
    document.getElementById("{{open}}-content").classList.add("show")
    document.getElementById("{{open}}-acc-btn").classList.remove("collapsed")
    open_comp = '{{open}}'
  })
</script>
{% endif %}

<script>

  open_comp = null;

  let Update = (body) => {

    console.log(body)

    fetch("{{ url_for('progcomp.admin_update') }}",
      {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(body)
      }
    ).then(() => {
      location.replace("/admin?open=" + open_comp)
    })


  }

  /* PC Level */

  let CreateNewPC = () => {
    Update({
      "operation": "create",
      "name": document.getElementById("new-pc-name").value
    })
  }

  let ConfirmDelete = (name) => {
    document.getElementById("pc-delete").innerText = name
  }

  let DeletePC = () => {
    Update({
      "operation": "delete",
      "name": document.getElementById("pc-delete").innerText
    })
  }

  let UpdatePC = (pc) => {
    Update({
      "operation": "update",
      "name": pc
    })
  }

  let ReloadPC = (pc) => {
    Update({
      "operation": "reload",
      "name": pc
    })
  }

  let SetPCVisibilityField = (progcomp, mode) => {
    document.getElementById(progcomp + "-visibility").innerText = mode
  }

  let ApplyPCSettings = (progcomp) => {
    Update({
      "operation": "configure",
      "name": progcomp,
      "config": {
        "start-time": document.getElementById(progcomp + "-start-time").value,
        "end-time": document.getElementById(progcomp + "-end-time").value,
        "visibility": document.getElementById(progcomp + "-visibility").innerText,
        "show_leaderboard": document.getElementById(progcomp + "-leaderboard-toggle").checked,
        "problem_changes": problem_changes,
        "blacklist_changes": blacklist_changes
      }
    })
  }

  
  /* Problem Changes */
  
  problem_changes = {}
  let SetProblemVisibilityField = (progcomp, problem, mode) => {
    document.getElementById(progcomp + "-" + problem + "-visibility").innerHTML = mode
    problem_changes[progcomp] = problem_changes[progcomp] || {}
    problem_changes[progcomp][problem] = mode
  }

  /* Team (Blacklist) Changes */
  blacklist_changes = {}
  let RecordBlacklistChange = (progcomp, team) => {
    blacklist_changes[progcomp] = blacklist_changes[progcomp] || {}
    blacklist_changes[progcomp][team] = document.getElementById(progcomp + "-" + team + "-blacklist").checked
  }

</script>

</html>