{% extends 'base.html' %}

{% block title %}General Advice{% endblock %}

{% block content %}

<style>
    ul li { margin-bottom: 15px; }
</style>

<div class="row pt-4">
    <h4>General Advice</h4>
    <p><strong>So you arrived, probably for the pizza and not for my problems. However, a part of you still wants to solve some problems. Here are some general advices, some by me and some by ChatGPT.</strong></p>
    <ul>
        <li><strong>Choose your battles wisely:</strong> If a problem seems too challenging, don't hesitate to move on to another one. There might be easier problems that you can solve more quickly, allowing you to accumulate points faster. Some problem subparts are <it>really</it> hard.
            <ul>
                <li>For example, the <code>hard</code> input of Problem 2 is harder than the <code>easy</code> input of Problem 5. Don't tell anyone else about it!</li>
            </ul>
        </li>
        <li><strong>Read the problem statements carefully:</strong> Make sure you fully understand the requirements and constraints of each problem before attempting to solve it. Misinterpreting a problem can lead to wasted time and effort.</li>
        <li><strong>Always give it a try:</strong> This competition is slightly different from the usual <a href="https://codeforces.com/">CodeForces</a> competition, as we <it>only</it> have output-based tasks! This means that even sub-optimal solutions have a chance at passing. So if you have an idea, try it out!</li>
        <li><strong>Use test cases to your advantage:</strong> Test your solutions with sample inputs provided in the problem statements. Also, create additional test cases to ensure your solution handles various scenarios correctly.</li>
        <li><strong>Collaborate wisely:</strong> Consider working with teammates or seeking help from others when you're stuck!</li>
    </ul>
</div>

<div class="row pt-4">
    <h4>How to solve Problem 0</h4>
</div>

<div class="row pt-4">
    <h4></h4>
</div>
{% endblock %}
