{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<div class="row pt-5" id="header">
    <h2><b>Per-Problem Leaderboards</b></h2>
</div>


<div class="row gap-4 justify-content-center">
    {% for prob in problems %}
        <div class="flex-grow-1 col-md col-auto row d-md-block text-center">
        <h3>Problem {{ prob.name }}</h3>
        {% for test in prob.tests %}
            <a class="btn btn-outline-primary p-2 m-1" style="width: 100%" href="leaderboard/{{ prob.name }}/{{ test.name }}">{{ test.name }}</a>
        {% endfor %}
        </div>
    {% endfor %}
</div>

<hr>

<div class="row p-2  text-center" id="header">
    <h2>Overall Leaderboard</h2>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-hover table-sm">
            <thead>
            <tr class="table-light">
                <th scope="col">Position</th>
                <th scope="col" class="text-center">Team</th>
                <th scope="col">Total</th>
                {% for prob in problems %}
                <th scope="col">{{ prob.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                <tr class="">
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ score.team.name }}</td>
                    <td class="text-center">{{ score.total }}</td>
                    {% for prob in problems %}
                    <td class="text-center">{{ score.per_round[loop.index-1] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
{% endblock %}
