{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<div class="row pt-5" id="header">
    <h3>Problem {{ p_name }}: <b>{{ p_set }}</b></h3>
</div>

<hr>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Position</th>
                    <th scope="col" class="text-center">Team</th>
                    <th scope="col" class="text-center">Score</th>
                    <th scope="col" class="text-center">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                {% if submission.status_str == "CORRECT" %}
                {% set row_color = 'bg-success-subtle' %}
                {% elif submission.status_str == "SCORED" %}
                {% set row_color = 'bg-primary-subtle' %}
                {% elif submission.status_str == "WRONG" %}
                {% set row_color = 'bg-danger-subtle' %}
                {% elif submission.status_str == "PARTIAL" %}
                {% set row_color = 'bg-warning-subtle' %}
                {% else %}
                {% set row_color = '' %}
                {% endif %}
                <tr class="{{row_color}}">
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ submission.team.name }}</td>
                    {% if submission.score is none %}
                    {% set sc = '-' %}
                    {% elif submission.test.max_score is none %}
                    {% set sc = submission.score %}
                    {% else %}
                    {% set sc = submission.score ~ "/" ~ submission.test.max_score %}
                    {% endif %}
                    <th class="text-center">{{ sc }}</td>
					<td class="text-center">{{ submission.time_str }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
