{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<div class="row pt-5" id="header">
    <h2><b>Per-Problem Leaderboards</b></h2>
</div>


<div class="row gap-4 justify-content-center">
    {% for prob in problems %}
    <div class="flex-grow-1 col-md col-auto row d-md-block text-center">
        <h3>Problem {{ prob.name }}</h3>
        {% for test in prob.tests %}
        <a class="btn btn-outline-primary p-2 m-1" style="width: 100%"
            href="leaderboard/{{ prob.name }}/{{ test.name }}">{{ test.name }}</a>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<hr>
<div class="row justify-content-center">
    <div class="col-auto">
        <div class="row p-2  text-center" id="header">
            <h2>End of Progcomp Leaderboard</h2>
        </div>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col" class="text-center">Team</th>
                    <th scope="col" class="text-center">Total</th>
                    <th scope="col" class="text-center">1</th>
                    <th scope="col" class="text-center">2</th>
                    <th scope="col" class="text-center">3</th>
                    <th scope="col" class="text-center">4</th>
                    <th scope="col" class="text-center">5</th>
                </tr>
            </thead>
            <tbody>

                <tr class="">
                    <td class="text-center">1</td>
                    <td class="text-center">MaKaWi</td>
                    <td class="text-center">557</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">118</td>
                    <td class="text-center">64</td>
                </tr>

                <tr class="">
                    <td class="text-center">2</td>
                    <td class="text-center">hereforpizza</td>
                    <td class="text-center">491</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">51</td>
                    <td class="text-center">64</td>
                    <td class="text-center">125</td>
                </tr>

                <tr class="">
                    <td class="text-center">3</td>
                    <td class="text-center">RisingStar</td>
                    <td class="text-center">375</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">4</td>
                    <td class="text-center">grhkm</td>
                    <td class="text-center">312</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">62</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">5</td>
                    <td class="text-center">TheSymmetricGroup</td>
                    <td class="text-center">298</td>
                    <td class="text-center">94</td>
                    <td class="text-center">125</td>
                    <td class="text-center">0</td>
                    <td class="text-center">79</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">6</td>
                    <td class="text-center">HFS250G32TND</td>
                    <td class="text-center">282</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">32</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">7</td>
                    <td class="text-center">marshmallory</td>
                    <td class="text-center">263</td>
                    <td class="text-center">94</td>
                    <td class="text-center">125</td>
                    <td class="text-center">31</td>
                    <td class="text-center">13</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">8</td>
                    <td class="text-center">Newport</td>
                    <td class="text-center">261</td>
                    <td class="text-center">94</td>
                    <td class="text-center">125</td>
                    <td class="text-center">0</td>
                    <td class="text-center">21</td>
                    <td class="text-center">21</td>
                </tr>

                <tr class="">
                    <td class="text-center">9</td>
                    <td class="text-center">justthe1ofme</td>
                    <td class="text-center">250</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">10</td>
                    <td class="text-center">ProblemSet0</td>
                    <td class="text-center">225</td>
                    <td class="text-center">125</td>
                    <td class="text-center">100</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">11</td>
                    <td class="text-center">Chumbi</td>
                    <td class="text-center">219</td>
                    <td class="text-center">94</td>
                    <td class="text-center">125</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">12</td>
                    <td class="text-center">sh00nya</td>
                    <td class="text-center">169</td>
                    <td class="text-center">94</td>
                    <td class="text-center">75</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">13</td>
                    <td class="text-center">Dysfunctional</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">14</td>
                    <td class="text-center">haskilledme</td>
                    <td class="text-center">125</td>
                    <td class="text-center">125</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">15</td>
                    <td class="text-center">cal</td>
                    <td class="text-center">56</td>
                    <td class="text-center">31</td>
                    <td class="text-center">25</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">16</td>
                    <td class="text-center">Dante</td>
                    <td class="text-center">42</td>
                    <td class="text-center">17</td>
                    <td class="text-center">25</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">17</td>
                    <td class="text-center">definitelynotkeegan</td>
                    <td class="text-center">31</td>
                    <td class="text-center">31</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">18</td>
                    <td class="text-center">a</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">19</td>
                    <td class="text-center">Amateurs</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">20</td>
                    <td class="text-center">loneWolf</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">21</td>
                    <td class="text-center">JoshThanki</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>

                <tr class="">
                    <td class="text-center">22</td>
                    <td class="text-center">balls</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-auto">
        <div class="row p-2  text-center" id="header">
            <h2>Live Leaderboard</h2>
        </div>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Position</th>
                    <th scope="col" class="text-center">Team</th>
                    <th scope="col" class="text-center">Total</th>
                    {% for prob in problems %}
                    <th scope="col" class="text-center">{{ prob.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ score.team.name }}</td>
                    <th class="text-center">{{ score.total }}</td>
                        {% for prob in problems %}
                    <td class="text-center">{{ score.per_round[loop.index-1] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}