{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center gap-3 my-5">
    <img class="mw-100 p-2" style="width: 500px" src="static/challenge_logo.svg" alt="Logo"></img>
    {% if not username %}
    <form class="mw-100" style="width: 300px" action="{{ url_for('progcomp.start') }}" method="POST">
        <div class="form-group my-2">
            <label for="progcomp">Competition</label>
            <select class="form-select" id="progcomp" name="progcomp" {% if not partitions %}disabled{% endif %}>
                {% for (title, items) in partitions.items() %}
                <optgroup label="{{ title }}">
                    {% for progcomp in items %}
                    <option value="{{ progcomp.name }}">{{ progcomp.name }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>

        <div class="form-group my-2">
            <label for="username">Team Name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your team's name">
            <small id="username-help" class="form-text text-muted">Must be alphanumeric and not contain
                spaces.</small>
        </div>
        <div class="form-group my-2">
            <label for="password">Pass Phrase</label>
            <input type="password" class="form-control" id="password" name="password"
                placeholder="Create/Enter your pass phrase">
        </div>
        <div class="form-group text-center my-2">
            <button type="submit" class="btn btn-success btn-lg">Join this Team</button>
        </div>
    </form>
    {% else %}
    <form class="mt-3 text-center" action="{{ url_for('progcomp.logout') }}" method="POST">
        Competition: {{ progcomp.name }}
        Team Name: {{ username }}
        <div class="form-group mt-3">
            <button type="submissions" class="btn btn-danger btn-lg">Log out</button>
        </div>
    </form>
    {% endif %}
    <div class="mt-5">
        <h2>Instructions</h2>
        <ol>
            <li>Pick a team name and passphrase, and share this among your team (each progcomp has separate teams).</li>
            <li>Download the problems PDF under Submissions.</li>
            <li>Each challenge will be listed along the top. Click on each to view the input test data.</li>
            <li>Once you have some solutions, upload your script's output (and the script for later verification).</li>
            <li>Your results for each problem should be available under Submissions.</li>
        </ol>
    </div>
</div>

{% endblock %}