{% extends 'base.html' %}

{% block title %}Submissions{% endblock %}

{% block content %}

<div class="row pt-5" id="header">
    <h3>Welcome, <b>{{ team.name }}</b></span></h3>
</div>

<hr>


<a href="{{ url_for('progcomp.dl_pdf') }}">
    <button type="button" class="btn btn-primary" style="width: 100%"><i class="bi-download me-1"></i>&nbsp;Download
        Problem Descriptions (PDF)</button>
</a>

<hr>

<div class="row justify-content-center">
    <div class="col-auto">
        <h4 class="text-center">Your Submissions</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Problem</th>
                    <th scope="col" class="text-center">Dataset</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Score</th>
                    <th scope="col" class="text-center">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in team.submissions %}
                {% if submission.status_str == "CORRECT" %}
                {% set row_color = 'bg-success-subtle' %}
                {% elif submission.status_str == "SCORED" %}
                {% set row_color = 'bg-primary-subtle' %}
                {% elif submission.status_str == "WRONG" %}
                {% set row_color = 'bg-danger-subtle' %}
                {% elif submission.status_str == "PARTIAL" %}
                {% set row_color = 'bg-warning-subtle' %}
                {% else %}
                {% set row_color = '' %}
                {% endif %}
                <tr class="{{row_color}}">
                    <td class="text-center">{{ submission.problem.name }}</td>
                    <td class="text-center">{{ submission.test.name }}</td>
                    <td class="text-center">{{ submission.status_str }}</td>
                    {% if submission.score is none %}
                    {% set sc = '-' %}
                    {% elif submission.test.max_score is none %}
                    {% set sc = submission.score %}
                    {% else %}
                    {% set sc = submission.score ~ "/" ~ submission.test.max_score %}
                    {% endif %}
                    <th class="text-center">{{ sc }}</td>
                    <td class="text-center">{{ submission.time_str }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}