[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
dateparser = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
greenlet = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markdown = "*"
markupsafe = "*"
oauthlib = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
pytz-deprecation-shim = "*"
regex = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
sqlalchemy = "*"
typing-extensions = "*"
tzdata = "*"
tzlocal = "*"
urllib3 = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.10"
