<!-- {% extends 'base.html' %}

{% block title %}The End{% endblock %}

{% block content %}

<div class="row pt-5 pb-3" id="quizz-header">
    <h3>Final Scores</span></h3>
</div>

<hr>
<div class="row gap-2">
    <div class="col"></div>
     <div class="col">
        <table class="table table-hover">
            <thead>
              <tr class="table-light">
                <th scope="col">Name</th>
                <th scope="col">Points</th>
                <th scope="col">Max Streak</th>
                <th scope="col">Current Question</th>
              </tr>
            </thead>
            <tbody>
            {% for leaderboard_player in game.get_leaderboard() %}

            {% if loop.index == 1 %}
                {% set row_color = 'table-success' %}
            {% elif loop.index == 2 or loop.index == 3 %}
                {% set row_color = 'table-primary' %}
            {% else %}
                {% set row_color = '' %}
            {% endif %}


            <tr class="{{ row_color }}">
                <th scope="row">{{ leaderboard_player.name }}</th>
                <td>{{ leaderboard_player.score }}</td>
                <td>{{ leaderboard_player.max_streak }}</td>
                {% if game.has_player_finished(leaderboard_player) %}
                <td>Finished</td>
                {% else %}
                <td>{{ leaderboard_player.current_question + 1 }} / {{ game.num_questions }}</td>
                {% endif %}
             </tr>
            {% endfor %}
            </tbody>
          </table>
     </div>
     <div class="col"></div>
 </div>

<hr>
<p id="footer" class="text-muted">Game ID - <code>{{ game.game_id }}</code></p>

<script>
    startOutcomeTimer(game.game_id)
</script>
{% endblock %} -->
