{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<div class="row pt-5" id="header">
    <h3>Problem {{ p_name }}: <b>{{ p_set }}</b></h3>
</div>

<hr>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-hover">
            <thead>
            <tr class="table-light">
                <th scope="col">Position</th>
                <th scope="col" class="text-center">Team</th>
                <th scope="col">Score</th>
                <th scope="col">Timestamp</th>
            </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                {% if submission.status == "CORRECT" %}
                    {% set row_color = '#d1e7dd' %}
                {% elif submission.status == "SCORED" %}
                    {% set row_color = 'table-primary' %}
                {% elif submission.status == "WRONG" %}
                    {% set row_color = 'f8d7da' %}
                {% elif submission.status == "PARTIAL" %}
                    {% set row_color = '#fff3cd' %}
                {% else %}
                    {% set row_color = '' %}
                {% endif %}
                <tr style="background-color: {{ row_color }}">
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ submission.team.name }}</td>
                    {% if submission.max_score == -1 %}
                    <td class="text-center">{{ submission.score }}</td>
                    {% else %}
                    <td class="text-center">{{ submission.score }}/{{ submission.max_score }}</td>
                    <th scope="row" class="text-center">{{ submission.timestamp.replace("-", ":") }}</th>
                    {% endif %}
                    <td class="text-center">{{ submission.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
{% endblock %}
