{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}


<div class="row pt-5" id="header">
    <h2>Congratulations to {{ top3 }}!</h2>
</div>

<div class="row pt-5" id="header">
    <h2><b>Per-Problem Leaderboards</b></h2>
    <p>Scores are as of when the contest ended.</p>
</div>


<div class="row gap-4 justify-content-center">
    {% for prob in problems %}
        <div class="flex-grow-1 col-md col-auto row d-md-block text-center">
        <h3>Problem {{ prob.name }}</h3>
        {% for test in prob.test_names %}
            <a class="btn btn-outline-primary p-2 m-1" style="width: 100%" href="leaderboard/{{ prob.name }}/{{ test }}">{{ test }}</a>
        {% endfor %}
        </div>
    {% endfor %}
</div>

<hr>

<div class="row p-2  text-center" id="header">
    <h2>Overall Winners</h2>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-hover table-sm">
            <thead>
            <tr class="table-light">
                <th scope="col">Position</th>
                <th scope="col" class="text-center">Team</th>
                <th scope="col">Correct</th>
                <th scope="col">Partial</th>
            </tr>
            </thead>
            <tbody>
                {% for winner in winners %}
                <tr class="{{row_color}}">
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ winner[0] }}</td>
                    <td class="text-center">{{ winner[1] }}</td>
                    <td class="text-center">{{ winner[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
{% endblock %}
