{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div style="margin: auto 0">
<img src="static/challenge_logo.svg" alt="Logo" style="max-height:200px;margin:10px auto 20px;display:block;"></img>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col col-lg-3">
        <form action="{{ url_for('progcomp.start') }}" method="POST">
            <div class="d-grid gap-2">
                <div class="form-group">
                    <label for="username" class="form-label mt-4">Team Name</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your team's name">
                    <label for="password" class="form-label mt-4">Pass Phrase</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Create/Enter your pass phrase">
                    <!-- <select class="form-select" id="diff" name="diff">
                        <option value="-1">Mixed</option>
                        <option value="0">Easy</option>
                        <option value="1">Medium</option>
                        <option value="2">Hard</option>
                    </select> -->
                </div>
                <button type="submit" class="btn btn-success btn-lg">Join this Team</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}