{% extends 'base.html' %}

{% block title %}Problem{% endblock %}

{% block content %}

<div class="row pt-5" id="header">
    <h3>Problem <b>{{ problem.name }}</b></span></h3>
</div>

<ul>
    {% for test_name in problem.test_names %}
    <li><a href="{{ url_for('progcomp.download', p_name=problem.name, filename=test_name) }}">{{ test_name }}</a></li>
    {% endfor %}
</ul>

<hr>

<form method=post enctype=multipart/form-data>
    <label for="test_select" class="form-label mt-4">Select Input Data</label>
    <select class="form-select" id="test_select" name="test_select">
        {% for test_name in problem.test_names %}
        <option value="{{ test_name }}">{{ test_name[:-4]}}</option>
        {% endfor %}
    </select>
    <label for="output" class="form-label mt-4">Upload Output</label>
    <input class="form-control" type=file name=output accept=".txt,.out">
    <label for="script" class="form-label mt-4">Upload Script</label>
    <input class="form-control" type=file name=script>
    <br>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
<hr>
<p id="footer" class="text-muted">Submitting for <code>{{ username }}</code></p>

{% endblock %}
