{% extends 'base.html' %}

{% block title %}Problem{% endblock %}

{% block content %}

<ul>
    {% for name in problem.test_names %}
    <li><a href="{{ url_for('progcomp.download', p_name=problem.name, filename=name) }}">{{ name }}</a></li>
    {% endfor %}
</ul>

<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
<!-- <div class="row pt-5 pb-3" id="quizz-header">
    <div class="col">
        <h3>Question <span class="text-muted"></span> of <span class="text-muted"></span></h3>
    </div>
    <div class="col text-end">
        <h3>Score <span class="text-muted"> point</span> Time left: <span class="text-muted" id="time_left">2m3s</span></h3>
    </div>
</div>

<div class="progress">
    <div id="time_left_bar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%;"></div>
</div>

<hr>

<h3 class="pb-5"><span class="text-muted">Q: </span></h3>

<form action="" method="POST">
    <div class="row gap-2 text-center pt-4">
        {% set button_cols = ["danger", "primary", "warning", "success"] %}
        {% for choice in choices %}
            <div class="col">
                <input class="btn btn-lg btn-primary w-100" type="submit" value=""/>
            </div>

            {% if loop.index % 2 == 0 %}
                <div class="w-100"></div>
            {% endif %}
        {% endfor %}
        <input type="hidden" name="correct_0"/>
    </div>
</form>
<hr> -->
<p id="footer" class="text-muted">Team Name - <code>{{ username }}</code></p>

{% endblock %}
