{% extends 'base.html' %}

{% block title %}Submissions{% endblock %}

{% block content %}

<div class="row pt-5" id="header">
    <h3>Welcome, <b>{{ team.name }}</b></span></h3>
</div>

<hr>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-hover">
            <thead>
            <tr class="table-light">
                <th scope="col">Timestamp</th>
                <th scope="col">Problem #</th>
                <th scope="col">Dataset</th>
                <th scope="col">Score</th>
            </tr>
            </thead>
            <tbody>
                {% for submission in team.submissions %}
                <tr>
                    <th scope="row" class="text-center">{{ submission.timestamp }}</th>
                    <td class="text-center">{{ submission.p_num }}</td>
                    <td class="text-center">{{ submission.dataset }}</td>
                    <td class="text-center">{{ submission.result }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
{% endblock %}
